body
{
  margin: 0;
  font-family: 'Verdana', sans-serif;
}

div
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div h1
{
  margin-left: 1%;
}

div a
{
  margin-right: 2.5%;
  width: 7.5vw;
  height: 4vh;
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.9);
}

div a:hover
{
  background: white;
  color: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.9);
}

table
{
  width: 100vw;
  border: none;
  border-collapse: collapse;
}

table, tr, td
{
  border: 0.5px solid grey;
}

td
{
  height: 5vh;
  width: 25vw;
}

tr.title td
{
  background: rgba(0, 0, 0, 0.9);
  color: white;
}

tr.alternative td
{
  background: lightgrey;
}
